.productCard {
    flex: 0 0 20%;
    min-width: 0;
    position: relative;
    height: 28rem;
    width: 75%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.1s;
}

.productCard:hover {
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.7);
}

.productCardImgContainer {
    height: 75%;
    overflow: hidden;
}

.productCardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.price {
    margin: 0;
    font-size: 1.75em;
    display: inline-block;
}

.price s {
    color: rgb(139, 139, 139);
}

.salePrice {
    font-size: 1.75em;
    display: inline-block;
    margin: 0 10px 0;
}

.productCardTextContainer {
    padding-left: 1rem;
}

@media (max-width: 850px) {
    .productCard {
        width: 100%;
    }
    .productCardImg {
        margin: auto;
        width: auto;
        object-position: 100% 50%;
    }
}