.featured {
    padding-bottom: 20px;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    overflow: hidden;
    height: fit-content;
}

.featuredCarouselContainer {
    padding: 30px 10px 70px 10px;
}

.featuredTitle {
    font-size: 1.75em;
    padding-top: 20px;
}
