.embla {
    --slide-spacing: 1rem;
    --slide-size: 20%;
    --slide-height: 19rem;
    padding: 0px 0px 20px;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    overflow: hidden;
    height: fit-content;
}

.emblaContainer {
    display: flex;
    flex-direction: row;
    height: auto;
}

.carouselContainer {
    padding: 70px 0;
}

