.navContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 0.5fr;
}

.navContainer span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.navContainer span i {
    font-size: 2rem;
}

.navContainer :first-child {
    justify-content: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdownContent {
    display: flex;
}

.dropdownContent p {
    display: inline-block;
    font-size: 0.75em;
}

.cart {
    cursor: pointer;
}