.onSalePage {
    padding: 20px 0;
    min-height: 100vh;
}

.listedProductsContainer {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}

.listedProductsContainer h1 {
    font-size: 2em;
    font-weight: 300;
}

.onSalePageTitle {
    display: flex;
    justify-content: center;
    background-image: url("/sale.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 20px;
    width: 90%;
    height: 545px;
    margin: 30px auto;
    padding: 20px;
}

@media (max-width: 850px) {
    .onSalePageTitle {
        background-color: white;
        background-size: 100%;
    }
}

@media (max-width: 420px) {
    .onSalePageTitle {
        background-size: 100% 100%;
    }
}