.saleSectionContent {
    padding-bottom: 20px;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    overflow: hidden;
    height: fit-content;
    position: absolute;
    top: 0%;
    left: 10%;
}

.saleSectionCarouselContainer {
    padding: 30px 0 70px;
}

.saleSection {
    position: relative;
    width: 100%;
    height: 665px;
    padding-bottom: 30px;
    object-fit: cover;
    background-color: transparent;
}

.saleSectionTitle {
    font-size: 1.75em;
    color: white;
    padding-top: 20px;
}

.saleBannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
}
