.productDetailPage {
    background-color: rgb(109, 162, 223);
    /* background-color: white; */
    padding: 20px 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

.imgContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.productDetailContainer {
    display: flex;
    max-width: 90%;
    gap: 40px;
    margin: auto;
    margin-top: 60px;
    color: black;
}

.productDetailImg {
    border-radius: 15px;
    background-color: white;
    width: 30vw;
    height: 30vw;
    object-fit: contain;
}

.smallImgContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.smallImg {
    border-radius: 8px;
    background-color: white;
    width: 70px;
    height: 70px;
    cursor: pointer;
    object-fit: contain;
    border: 1px solid black;
}

.selectedImg {
    border-radius: 8px;
    background-color: white;
    width: 70px;
    height: 70px;
    cursor: pointer;
    object-fit: contain;
    border: 1px solid rgb(0, 140, 255);
}

.reviews {
    color: #f02d34;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.productDetailDesc {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.productDetailDesc h4 {
    margin-top: 10px;
}

.productDetailDesc p {
    margin-top: 10px;
}

.reviews p {
    color: #324d67;
    margin-top: 0px;
}

.productDetailDesc .price {
    font-weight: 700;
    font-size: 26px;
    margin-top: 30px;
}

.price .old-price,
.product-price .old-price,
.price .old-price {
    color: gray;
    text-decoration: line-through;
}

.productDetailDesc .quantity {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
}

.productDetailDesc .buttons {
    display: flex;
    gap: 30px;
}

.buttons .add-to-cart {
    padding: 10px 20px;
    border: 1px solid #f02d34;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    color: #f02d34;
    cursor: pointer;
    width: 200px;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.buttons .add-to-cart:hover {
    transform: scale(1.1, 1.1)
}

.buttons .buy-now {
    width: 200px;

    padding: 10px 20px;
    background-color: #f02d34;
    color: white;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.buttons .buy-now:hover {
    transform: scale(1.1, 1.1)
}

.quantityDesc {
    border: 2px solid black;
    padding: 6px;
    border-radius: 10px;
}

.quantityDesc span {
    font-size: 16px;
    padding: 6px 12px;
    padding-top: 12px;
    cursor: pointer;
}

.quantityDesc .minus {
    border-right: 2px solid black;
}

.quantityDesc .num {
    border-right: 2px solid black;
}

@media screen and (max-width:800px) {

    .productDetailContainer {
        flex-wrap: wrap;
    }

    .productDetailContainer .productDetailImg {
        width: 350px;
        height: 350px;
    }

    .productDetailContainer {
        margin: 20px;
    }

    .track {
        animation: marquee 10s linear infinite;
        width: 550%;
    }

}